{% extends 'b_layout.html' %}

{% block title %}Таблица по-умолчанию{% endblock %}


{% block content %}
    <h6>Таблица по-умолчанию</h6>
    <table class="table table-bordered">
        <tbody>
        <tr>
            {% for name in verbose_name_list %}
                <td>{{ name }}</td>
            {% endfor %}
        </tr>
        {% for object in objects_values %}
            <tr>
                {% for key, value in object.items %}
                    <td>
                        {{ value }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tbody>
    </table>

    <h6>Результат</h6>
    {{ result }}
    
{% endblock %}

